/*==============================
GENERAL STYLES
==============================*/

@import url(http://fonts.googleapis.com/css?family=Anton|Maven+Pro:500,700);

body {
    font-family: 'Maven Pro', sans-serif;
    line-height: 25px;
}

.pad-bottom {
    padding-bottom: 60px;
}

section {
    padding-bottom: 120px;
    padding-top: 100px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
     animation-delay: 4s;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-readmore {
    padding: 10px 10px;
    font-size: 12px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.set-bk-clr {
    background-color: #FFE2A1;
}

.clr-set {
    color: #FFE2A1;
}

.f-big {
    font-size: 40px;
    font-weight: 900;
}

.set-bk-clr:hover {
    background-color: rgba(255, 209, 114, 1);
}
/*==============================
NAVBAR STYLES
==============================*/
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.navbar-brand {
padding:0px;

}
    .navbar-brand img {
        height:50px;
    }
.navbar-default .navbar-toggle {
    border-color: #FFF;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: rgba(0, 0, 0, 0);
    }

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 900;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #FFE2A1; /*  on hover of link */
        text-decoration: none;
    }

.navbar-default {
    background-color: #000;
    border-color: transparent;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
    padding: 15px;
    -webkit-transition: background .8s ease-out,padding .8s ease-out;
    -moz-transition: background .8s ease-out,padding .8s ease-out;
    transition: background .8s ease-out,padding .8s ease-out;
}
/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
    padding: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFE2A1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


/* =============================================================
  HEADER SECTION STYLES
 ============================================================ */

#header {
    background: url(../img/test.jpg) no-repeat center center;
    /*background-color: #000;*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

div .col-md4-offset8 {
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
}

    #header .overlay {
        background-color: rgba(3, 3, 3, 0.8);
        min-height: 700px;
    }

    #header h1 {
        line-height: 60px;
        font-size: 60px;
        font-weight: 900;
        padding-top: 180px;
        padding-bottom: 35px;
        color: #FFE2A1;
    }


    #header h4 {
        line-height: 30px;
        font-size: 20px;
        padding-bottom: 40px;
        text-transform: uppercase;
    }

/*================================
    SERVICES STYLES
==================================*/
#services {
    /*background-color: rgba(237, 237, 237, 1);*/
}

    #services i {
        font-size: 80px;
        padding: 30px;
        color: #FFE2A1;
    }

    #services h4 {
        padding-bottom: 5px;
        padding-top: 15px;
    }

/* =============================================================
 PORTFOLIO SECTION STYLES
 ============================================================ */

/* FOR CHANGING COLOR OF ACTIVE CATEGORY */
.caegories a.active {
    background-color: #FFE2A1;
    border: 2px solid #000;
}

/* FOR TRANSITION BEAUTIFULLY */
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

#works .work-wrapper {
    border: 2px solid #FFE2A1;
    padding: 2px;
    margin: 5px 5px 10px 5px;
}

#works img {
    filter: gray; /* FOR IE6-9 */
    -webkit-filter: grayscale(1); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
    opacity: 0.8;
}

    #works img:hover {
        filter: none; /* FOR IE6-9 */
        -webkit-filter: grayscale(0); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
        opacity: 1;
    }

/* =============================================================
  TEAM SECTION STYLES
 ============================================================ */
#team {
    background-color: rgba(237, 237, 237, 1);
}

.media img {
    margin-right: 40px;
    max-height: 150px;
    margin-bottom: 20px;
    border: 2px solid #FFE2A1;
}

    .media img:hover {
        opacity: 0.6;
    }
/* =============================================================
  CONTACT SECTION STYLES
 ============================================================ */
#contact {
    background: url(../img/test.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

    #contact .overlay {
        background-color: rgba(0,0,0,0.9);
        padding-top: 90px;
        min-height: 300px;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 100px;
    }
/* =============================================================
  FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgba(237, 237, 237, 1);
}

    footer a, footer a:hover {
        color: #000;
        text-decoration: none;
    }
    
/* =============================================================
  ION ICONS HEADER SECTION STYLES
 ============================================================ */

.ion-network{
    color: #FFE2A1;
}

.ion-paintbrush{
    color: #FFE2A1;
}

.ion-gear-b{
    color: #FFE2A1;
}

/* =============================================================
  ABOVE THE FOLD ANIMATIONS DELAYS AND TRIGGERS
 ============================================================ */

.mainHeader{
     -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
     animation-delay: 1s;
}

.developer{
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
     animation-delay: 3s;
     line-height: 30px;
     font-size: 20px;
     padding-bottom: 40px;
     text-transform: uppercase;
}

.graphicDesigner{
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
     animation-delay: 2s;
     line-height: 30px;
     font-size: 20px;
     padding-bottom: 40px;
     text-transform: uppercase;
}

.technician{
    -webkit-animation-delay: 3.5s; /* Chrome, Safari, Opera */
     animation-delay: 3.5s;
     line-height: 30px;
     font-size: 20px;
     padding-bottom: 40px;
     text-transform: uppercase;
}

/* =============================================================
  SOCIAL MEDIA STYLES ANIMATIONS DELAYS AND TRIGGERS
 ============================================================ */

img.linkedIn, img.bb, img.git {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    margin: 0px 20px;
}

img.linkedIn:hover, img.bb:hover, img.git:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.linkedIn{
    -webkit-animation-delay: 5s; /* Chrome, Safari, Opera */
     animation-delay: 5s;
}

.bb{
    -webkit-animation-delay: 5.1s; /* Chrome, Safari, Opera */
     animation-delay: 5.1s;
}

.git{
    -webkit-animation-delay: 5.2s; /* Chrome, Safari, Opera */
     animation-delay: 5.2s;
}

/* =============================================================
  PAGE LOADER GIF
 ============================================================ */

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/loading.gif') 50% 50% no-repeat rgb(0,0,0);
}

.fancyZoomButtons, .fancyZoomLinks, .portImage, .dloadCv{
  margin: auto;
  text-align: center;
  display: block;
}